<nav class="navigation">
  <div class="container" id="nav">
      <ul>
      <% if logged_in? %>
            <li><a><%= link_to "utwórz nowy wpis", new_article_path, class: "new_article" %></a></li>
            <li><a><%= link_to "artykuły", articles_path %></a></li>
            <li><a href="/"><img src="/assets/logo.png" alt="logo" ></a></li>
            <li><a><%= link_to "moderatorzy", authors_path, class: "authors" %></a></li>
            <li><a><%= link_to "Wyloguj", logout_path %></a></li>
      <% else %>
            <li><a><%= link_to "artykuły", articles_path %></a></li>
            <li><a href="/"><img src="/assets/logo.png" alt="logo" ></a></li>
            <li><a><%= link_to "strona główna", root_path%></a></li>
      <% end %>
          
      </ul>
  </div>
</nav>
